<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to <%= title %></p>
    <p>Don't have an account ?  <a href="http://localhost:3000/signup">Sign up here</a></p> 

    <p>Or, </p> <a href="http://localhost:3000/login">Login here</a>
  </body>
</html>