
<h2>Login here</h2>


<h3 style="color:tomato"><%=error%></h3>

<form action="/signup" method="post">
   
    <input placeholder="Your username" type="text" name="username">
  
    <input placeholder="Your password" type="password" name="password">

    <input type="submit">
</form>



